<% layout('layouts/boilerplate')%>

  <div class="container col-md-6 mt-5">
    <!-- <div class="row mb-3">
      <h2 class="text-center">BASE DE DATOS ALUMNOS EMPRESAS PRÁCTICAS </h2>
    </div>
    <div class="container">
      <div class="row mb-3 ">          
          <a href="/alumnos/listadoalumnos" class="btn  btn-primary btn-block ">Alumnos</a> 
    </div>
    <div class="row mb-3">
        <a href="/empresas/listadoempresas" class="btn  btn-warning btn-block ">Empresas</a>
    </div>
    <div class="row mb-3">
        <a href="/alumnos/nuevoalumno" class="btn btn-danger btn-block">Nuevo Alumno</a>
    </div>
    <div class="row mb-3">
        <a href="/empresas/nuevaempresa" class="btn  btn-primary btn-block ">Nueva Empresa</a>
    </div>
    </div> -->
      <!-- TARJETAS -->
      <div class="container col-md-6">
        <div class="card align-items-center" style="width: 18rem; ">
          <img src="/assets/images/Logo BD.png" class="card-img-top align-items-center" style="width: 50%">
          <div class="card-body">
            <!-- <h5 class="card-title text-center">Gestión Empresas - Alumnos</h5> -->
            <!-- <p class="card-text">Introduce los datos de los alumnos y empresas para dejar registro en la base de datos para futuras consultas</p> -->
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center"><a href="/alumnos/listadoalumnos" class="btn  btn-outline-dark ">Alumnos</a> </li>
            <li class="list-group-item text-center"> <a href="/empresas/listadoempresas" class="btn  btn-outline-success  ">Empresas</a></li>
            <li class="list-group-item text-center"> <a href="/alumnos/nuevoalumno" class="btn btn-outline-dark ">Nuevo Alumno</a></li>
            <li class="list-group-item text-center"><a href="/empresas/nuevaempresa" class="btn  btn-outline-success    ">Nueva Empresa</a></li>
          </ul>
          <!-- <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div> -->
        </div>
    </div>
    </div>



